name: Spell Check

on:
    pull_request:
        branches: [main, preprocessing]
    push:
        branches: [main, preprocessing]

jobs:
    spellcheck:
        name: Check Spelling
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Check spelling in markdown and code
              uses: streetsidesoftware/cspell-action@v6
              with:
                  files: |
                      **/*.md
                      **/*.py
                      **/*.txt
                  incremental_files_only: false
                  config: .github/cspell.json
